exportPattern("^[[:alpha:]]+")
import("Formula")
import("expm")
import("numDeriv")
import("stats")
importFrom("lmtest", "coeftest")
importFrom("grDevices", "dev.interactive")
importFrom("graphics", "abline", "mtext", "par", "plot", "title")
S3method(coef, BinaryEPPM)
S3method(cooks.distance, BinaryEPPM)
S3method(fitted, BinaryEPPM)
S3method(logLik, BinaryEPPM)
S3method(hatvalues, BinaryEPPM)
S3method(plot, BinaryEPPM)
S3method(predict, BinaryEPPM)
S3method(print, BinaryEPPM)
S3method(print, summaryBinaryEPPM)
S3method(residuals, BinaryEPPM)
S3method(vcov, BinaryEPPM)
S3method(summary, BinaryEPPM)
