import("Formula")
import("expm")
import("numDeriv")
import("stats")
importFrom("lmtest", "coeftest", "waldtest")
importFrom("grDevices", "dev.interactive")
importFrom("graphics", "abline", "mtext", "par", "plot", "title")
export("BBprob", "BinaryEPPM", "CBprob", "coef.BinaryEPPM",
       "cooks.distance.BinaryEPPM", "doubexp", "doubrecip", "EPPMprob",
       "fitted.BinaryEPPM", "GBprob", "hatvalues.BinaryEPPM", "LL.gradient",
       "LL.Regression.Binary", "logLik.BinaryEPPM", "loglog",
       "Model.BCBinProb", "Model.Binary", "Model.GB", "Model.JMVGB",
       "negcomplog", "plot.BinaryEPPM", "powerlogit",
       "predict.BinaryEPPM", "print.BinaryEPPM",
       "print.summaryBinaryEPPM", "residuals.BinaryEPPM",
       "summary.BinaryEPPM", "vcov.BinaryEPPM", "waldtest.BinaryEPPM")
S3method(coef, BinaryEPPM)
S3method(cooks.distance, BinaryEPPM)
S3method(fitted, BinaryEPPM)
S3method(logLik, BinaryEPPM)
S3method(hatvalues, BinaryEPPM)
S3method(plot, BinaryEPPM)
S3method(predict, BinaryEPPM)
S3method(print, BinaryEPPM)
S3method(print, summaryBinaryEPPM)
S3method(residuals, BinaryEPPM)
S3method(vcov, BinaryEPPM)
S3method(waldtest, BinaryEPPM)
S3method(summary, BinaryEPPM)
